In [68]:
import os
import json
import pandas as pd

In [150]:
# Aggregated_Transactions

path1="D:/DS/Projects/project 2 - phonepe/pulse/data/aggregated/transaction/country/india/state/" #Pasting the path into a variable as a string
agg_trans_list=os.listdir(path1)    #Convesting the string into a path

column1={"States":[], "Years":[], "Quarters":[], "Tranaction_type":[], "Transaction_count":[], "Tranaction_amount":[]}

for state1 in agg_trans_list:                # accessing all the states by using for loop
    curr_states1=path1+state1+"/" #creating the location for all the states
    agg_year_list1=os.listdir(curr_states1)   #accessing the year folders
    
    for year1 in agg_year_list1:
        curr_year1=curr_states1+year1+"/"  #Creating the path
        agg_file_list1=os.listdir(curr_year1)     #accessing the JSON files
        
        for file1 in agg_file_list1:
            curr_file=curr_year1+file1
            data1=open(curr_file)

            A=json.load(data1)

            for a in A["data"]["transactionData"]:
                type=a["name"]
                count=a["paymentInstruments"][0]["count"]
                amount=a["paymentInstruments"][0]["amount"]

                column1["States"].append(state1)
                column1["Years"].append(year1)
                column1["Quarters"].append(int(file1.strip(".json")))
                column1["Tranaction_type"].append(type)
                column1["Transaction_count"].append(count)
                column1["Tranaction_amount"].append(amount)

In [151]:
Aggregated_Transactions=pd.DataFrame(column1)
Aggregated_Transactions

,States,Years,Quarters,Tranaction_type,Transaction_count,Tranaction_amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
4129,west-bengal,2023,3,Merchant payments,296965002,2.004404e+11
4130,west-bengal,2023,3,Peer-to-peer payments,271150280,8.310501e+11
4131,west-bengal,2023,3,Recharge & bill payments,63055684,3.920985e+10
4132,west-bengal,2023,3,Financial Services,389751,4.249856e+08
4133,west-bengal,2023,3,Others,532474,4.232851e+08

In [218]:
# Aggregated_Users

Path2="D:/DS/Projects/project 2 - phonepe/pulse/data/aggregated/user/country/india/state/"
agg_users_list=os.listdir(Path2)


column2={"States":[], "Years":[], "Quarters":[], "Brands":[], "Transaction_count":[], "Percentage":[]}

for state2 in agg_users_list:
    curr_states2=Path2+state2+"/"
    agg_year_list2=os.listdir(curr_states2)

    for years2 in agg_year_list2:
        curr_year2=curr_states2+years2+"/"
        agg_file_list2=os.listdir(curr_year2)
        
        for file2 in agg_file_list2:
            curr_file2=curr_year2+file2
            data2=open(curr_file2)
            B=json.load(data2)

            try:
                for b in B["data"]["usersByDevice"]:
                    brand=b["brand"]
                    count=b["count"]
                    percentage=b["percentage"]

                    column2["Brands"].append(brand)
                    column2["Years"].append(years2)
                    column2["Quarters"].append(int(file2.strip(".json")))
                    column2["States"].append(state2)
                    column2["Transaction_count"].append(count)
                    column2["Percentage"].append(percentage)
            except:
                pass

In [220]:
Aggregated_Users=pd.DataFrame(column2)
Aggregated_Users

,States,Years,Quarters,Brands,Transaction_count,Percentage
0,andaman-&-nicobar-islands,2018,1,Xiaomi,1665,0.247033
1,andaman-&-nicobar-islands,2018,1,Samsung,1445,0.214392
2,andaman-&-nicobar-islands,2018,1,Vivo,982,0.145697
3,andaman-&-nicobar-islands,2018,1,Oppo,501,0.074332
4,andaman-&-nicobar-islands,2018,1,OnePlus,332,0.049258
...,...,...,...,...,...,...
6727,west-bengal,2022,1,Lenovo,330017,0.015056
6728,west-bengal,2022,1,Infinix,284678,0.012987
6729,west-bengal,2022,1,Asus,280347,0.012790
6730,west-bengal,2022,1,Apple,277752,0.012671
6731,west-bengal,2022,1,Others,2196334,0.100199

In [206]:
print(B["data"]["usersByDevice"])

None